body {
  margin: 0;
  padding: 0;
  background-image: url(21.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-top: 30px;
}

.header h1 {
  font-size: 40px;
  margin: 0;
  color: #FF5733; /* Orange */
}

.header h2 {
  font-size: 100px;
  margin: 5px 0;
  color: #0078D4; /* Blue */
}

.menu-bar {
  text-align: center;
  background-color: #000000;
  padding: 10px 0;
}

.menu-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.menu-bar li {
  margin: 0 15px;
}

.menu-bar a {
  color: #E9C46A; /* Yellow */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
}

.menu-bar a:hover {
  background-color: floralwhite;
  color: #000;
}

.content {
  text-align: center;
  margin: 50px 0;
  color: #191970; /* Dark Blue */
}

.content p {
  font-size: 20px;
  line-height: 1.6;
}

.lets-go-btn {
  color: floralwhite;
  background-color: #E31A1A;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 12px 30px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;
}

.lets-go-btn:hover {
  background-color: #360101;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.icons a {
  font-size: 30px;
  color: #8D8741; /* Olive */
  margin: 0 10px;
}

.footer {
  text-align: center;
  background-color: black;
  color: floralwhite;
  padding: 10px;
  margin-top: 100px;
}

